<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestCommon.Properties.Settings.RestDBConnectionString"
            connectionString="Data Source=(local)\SQLExpress;Initial Catalog=RestDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>